modelView/Web References/Clientes/Clientes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:NMPClienteU="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="updateClienteRequest" type="NMPClienteU:ClienteUpdateRequestType" />
  <xsd:element name="updateClienteResponse" type="NMPClienteU:ClienteUpdateResponseType" />
  <xsd:element name="insertClienteRequest" type="NMPClienteU:ClienteInsertRequestType" />
  <xsd:element name="insertClienteResponse" type="NMPClienteU:ClienteInsertResponseType" />
  <xsd:complexType name="ClienteUpdateRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="genero" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaDeNacimiento" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="ocupacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="trabaja" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="banderaDeBoletinacion" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="numeroDeCredencial" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Cotitular" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombre" nillable="true" type="xsd:string" />
            <xsd:element name="apellidoPaterno" nillable="true" type="xsd:string" />
            <xsd:element name="apellidoMaterno" nillable="true" type="xsd:string" />
            <xsd:element name="ListaTelefonos" nillable="true" type="NMPClienteU:TelefonoListType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Beneficiarios" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Beneficiario" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" nillable="true" type="xsd:string" />
                  <xsd:element name="apellidoPaterno" nillable="true" type="xsd:string" />
                  <xsd:element name="apellidoMaterno" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CorreosElectronicos" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="CorreoElectronico" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="tipoEmail" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="estatusAlmacenamientoImagen" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombreDeLaImagen" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoIdentificacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroIdentificacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="existCamp" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="escolaridad" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="deseaSerContactado" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Contacto" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ListaTelefonos" nillable="true" type="NMPClienteU:TelefonoListType" />
            <xsd:element minOccurs="0" name="ListaDirecciones" nillable="true" type="NMPClienteU:DireccionListType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigoPais" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigoArea" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroTelefonico" type="xsd:string" />
      <xsd:element minOccurs="0" name="extension" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoTelefono" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoListType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="Telefono" type="NMPClienteU:TelefonoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nombreDelaCalle" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroExterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroInterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="entreCalle1" type="xsd:string" />
      <xsd:element minOccurs="0" name="entreCalle2" type="xsd:string" />
      <xsd:element minOccurs="0" name="estado" type="xsd:string" />
      <xsd:element minOccurs="0" name="idEstado" type="xsd:int" />
      <xsd:element minOccurs="0" name="delegacionMunicipio" type="xsd:string" />
      <xsd:element minOccurs="0" name="idDelegacionMunicipio" type="xsd:int" />
      <xsd:element minOccurs="0" name="colonia" type="xsd:string" />
      <xsd:element minOccurs="0" name="idColonia" type="xsd:int" />
      <xsd:element minOccurs="0" name="codigoPostal" type="xsd:string" />
      <xsd:element minOccurs="0" name="idCodigoPostal" type="xsd:int" />
      <xsd:element minOccurs="0" name="tipoDomicilio" type="xsd:string" />
      <xsd:element minOccurs="0" name="ciudadPoblacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionListType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Direccion" type="NMPClienteU:DireccionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClienteUpdateResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClienteInsertRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:long" />
      <xsd:element minOccurs="0" name="idClienteClientes" type="xsd:long" />
      <xsd:element minOccurs="0" name="sucursalDeRegstro" type="xsd:int" />
      <xsd:element minOccurs="0" name="numeroDeCredencial" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechadDeUltimaActualizacion" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="fechaDeCreacion" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="usuarioCreador" type="xsd:string" />
      <xsd:element minOccurs="0" name="usuarioUltimaModificacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombreDeLaImagen" type="xsd:string" />
      <xsd:element minOccurs="0" name="banderaDeBoletinacion" type="xsd:int" />
      <xsd:element minOccurs="0" name="estatusAlmacenamientoImagen" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoCliente" type="xsd:string" />
      <xsd:element minOccurs="0" name="personalidadJuridica" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoIdentificacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="numIdentificacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoOperacionCliente" type="xsd:string" />
      <xsd:element minOccurs="0" name="representanteLegal" type="xsd:string" />
      <xsd:element minOccurs="0" name="huellaDigital" type="xsd:string" />
      <xsd:element minOccurs="0" name="calificacionReal" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="calificacionMidas" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="sobreAforo" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="porcentajeAforo" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="capacidadDePago" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="probabilidadIncumplimiento" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="clienteVIP" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="indiceRecuperacion" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="gradoDeConfianza" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="genero" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroDeHijos" type="xsd:int" />
      <xsd:element minOccurs="0" name="trabaja" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellidoPaterno" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellidoMaterno" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaDeNacimiento" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="escolaridad" type="xsd:string" />
      <xsd:element minOccurs="0" name="nacionalidad" type="xsd:string" />
      <xsd:element minOccurs="0" name="ocupacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="estadoCivil" type="xsd:string" />
      <xsd:element minOccurs="0" name="profesion" type="xsd:string" />
      <xsd:element minOccurs="0" name="RFC" type="xsd:string" />
      <xsd:element minOccurs="0" name="CURP" type="xsd:string" />
      <xsd:element minOccurs="0" name="Cotitulares">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Cotitular">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="id" type="xsd:int" />
                  <xsd:element minOccurs="0" name="idCotClientes" type="xsd:int" />
                  <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
                  <xsd:element minOccurs="0" name="apellidoPaterno" type="xsd:string" />
                  <xsd:element minOccurs="0" name="apellidoMaterno" type="xsd:string" />
                  <xsd:element minOccurs="0" name="parentesco" type="xsd:string" />
                  <xsd:element minOccurs="0" name="ListaTelefonos">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telefono">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="codigoPais" type="xsd:string" />
                              <xsd:element minOccurs="0" name="codigoArea" type="xsd:string" />
                              <xsd:element minOccurs="0" name="numeroTelefonico" type="xsd:string" />
                              <xsd:element minOccurs="0" name="extension" type="xsd:string" />
                              <xsd:element minOccurs="0" name="tipoTelefono" type="xsd:string" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Contacto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ListaTelefonos">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telefono">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="codigoPais" type="xsd:string" />
                        <xsd:element minOccurs="0" name="codigoArea" type="xsd:string" />
                        <xsd:element minOccurs="0" name="numeroTelefonico" type="xsd:string" />
                        <xsd:element minOccurs="0" name="extension" type="xsd:string" />
                        <xsd:element minOccurs="0" name="tipoTelefono" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListaDirecciones">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Direccion">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="nombreDelaCalle" type="xsd:string" />
                        <xsd:element minOccurs="0" name="numeroExterior" type="xsd:string" />
                        <xsd:element minOccurs="0" name="numeroInterior" type="xsd:string" />
                        <xsd:element minOccurs="0" name="estado" type="xsd:string" />
                        <xsd:element minOccurs="0" name="idEstado" type="xsd:int" />
                        <xsd:element minOccurs="0" name="delegacionMunicipio" type="xsd:string" />
                        <xsd:element minOccurs="0" name="colonia" type="xsd:string" />
                        <xsd:element minOccurs="0" name="codigoPostal" type="xsd:string" />
                        <xsd:element minOccurs="0" name="tipoDomicilio" type="xsd:string" />
                        <xsd:element minOccurs="0" name="ciudadPoblacion" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClienteInsertResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>