modelView/Web References/Clientes/Clientes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:NMPConsultaC="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="getClientesByIDRequest" type="NMPConsultaC:getClientesByIDRequestType" />
  <xsd:element name="getClientesByIDResponse" type="NMPConsultaC:getClientesResponseType" />
  <xsd:element name="getClientesByNumCredencialRequest" type="NMPConsultaC:getClientesByNumCredencialRequestType" />
  <xsd:element name="getClientesByNumCredencialResponse" type="NMPConsultaC:getClientesResponseType" />
  <xsd:element name="listClientesRequest" type="NMPConsultaC:listClientesRequestType" />
  <xsd:element name="listClientesResponse" type="NMPConsultaC:getClientesResponseType" />
  <xsd:element name="countClientesRequest" type="NMPConsultaC:countClientesRequestType" />
  <xsd:element name="countClientesResponse" type="NMPConsultaC:countClientesResponseType" />
  <xsd:element name="getHuellaClienteRequest" type="NMPConsultaC:getHuellaClienteRequestType" />
  <xsd:element name="getHuellaClienteResponse" type="NMPConsultaC:getHuellaClienteResponseType" />
  <xsd:element name="updateClienteRequest" type="NMPConsultaC:updateClienteRequestType" />
  <xsd:element name="updateClienteResponse" type="NMPConsultaC:StandardResponseType" />
  <xsd:element name="validarClienteRequest" type="NMPConsultaC:validarClienteRequestType" />
  <xsd:element name="validarClienteResponse" type="NMPConsultaC:StandardResponseType" />
  <xsd:complexType name="getClientesByIDRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" />
      <xsd:element minOccurs="0" name="idSucursal" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="usuario" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getClientesResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idCliente" type="xsd:long" />
            <xsd:element name="genero" type="xsd:string" />
            <xsd:element name="nombre" type="xsd:string" />
            <xsd:element name="apellidoPaterno" type="xsd:string" />
            <xsd:element name="apellidoMaterno" type="xsd:string" />
            <xsd:element name="fechaDeNacimiento" type="xsd:dateTime" />
            <xsd:element name="ocupacion" type="xsd:string" />
            <xsd:element name="trabaja" type="xsd:string" />
            <xsd:element name="banderaDeBoletinacion" type="xsd:int" />
            <xsd:element name="numeroDeCredencial" type="xsd:string" />
            <xsd:element name="Cotitular">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string" />
                  <xsd:element name="apellidoPaterno" type="xsd:string" />
                  <xsd:element name="apellidoMaterno" type="xsd:string" />
                  <xsd:element name="ListaTelefonos" type="NMPConsultaC:TelefonoListType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Beneficiarios">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="Beneficiario">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" />
                        <xsd:element name="apellidoPaterno" type="xsd:string" />
                        <xsd:element name="apellidoMaterno" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="email" type="xsd:string" />
            <xsd:element minOccurs="0" name="CorreosElectronicos">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="CorreoElectronico">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="email" type="xsd:string" />
                        <xsd:element name="tipoEmail" type="xsd:string" />
                        <xsd:element name="fuenteDato" type="xsd:string" />
                        <xsd:element name="origenDato" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="porcentajeAforo" type="xsd:decimal" />
            <xsd:element name="sobreAforo" type="xsd:decimal" />
            <xsd:element name="calificacionReal" type="xsd:decimal" />
            <xsd:element name="calificacionMidas" type="xsd:decimal" />
            <xsd:element name="capacidadDePago" type="xsd:decimal" />
            <xsd:element name="probabilidadIncumplimiento" type="xsd:decimal" />
            <xsd:element name="indiceRecuperacion" type="xsd:decimal" />
            <xsd:element name="gradoDeConfianza" type="xsd:decimal" />
            <xsd:element name="estatusAlmacenamientoImagen" type="xsd:string" />
            <xsd:element name="nombreDeLaImagen" type="xsd:string" />
            <xsd:element name="tipoIdentificacion" type="xsd:string" />
            <xsd:element name="numeroIdentificacion" type="xsd:string" />
            <xsd:element name="existCamp" type="xsd:string" />
            <xsd:element name="escolaridad" type="xsd:string" />
            <xsd:element name="deseaSerContactado" type="xsd:string" />
            <xsd:element name="Contacto">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ListaTelefonos" type="NMPConsultaC:TelefonoListType" />
                  <xsd:element name="ListaDirecciones" type="NMPConsultaC:DireccionListType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getClientesByNumCredencialRequestType">
    <xsd:sequence>
      <xsd:element name="numCredencial" type="xsd:string" />
      <xsd:element minOccurs="0" name="idSucursal" type="xsd:int" />
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listClientesRequestType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="apellidoPaterno" type="xsd:string" />
      <xsd:element name="apellidoMaterno" type="xsd:string" />
      <xsd:element name="fechaNacimiento" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countClientesRequestType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="apellidoPaterno" type="xsd:string" />
      <xsd:element name="apellidoMaterno" type="xsd:string" />
      <xsd:element name="fechaNacimiento" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countClientesResponseType">
    <xsd:sequence>
      <xsd:element name="noRegistros" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getHuellaClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" />
      <xsd:element minOccurs="0" name="idSucursal" type="xsd:int" />
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getHuellaClienteResponseType">
    <xsd:sequence>
      <xsd:element name="huellaCliente" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateClienteRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="genero" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaDeNacimiento" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="ocupacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="trabaja" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="banderaDeBoletinacion" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="numeroDeCredencial" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Cotitular" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombre" nillable="true" type="xsd:string" />
            <xsd:element name="apellidoPaterno" nillable="true" type="xsd:string" />
            <xsd:element name="apellidoMaterno" nillable="true" type="xsd:string" />
            <xsd:element name="ListaTelefonos" nillable="true" type="NMPConsultaC:TelefonoListType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Beneficiarios" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Beneficiario" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" nillable="true" type="xsd:string" />
                  <xsd:element name="apellidoPaterno" nillable="true" type="xsd:string" />
                  <xsd:element name="apellidoMaterno" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CorreosElectronicos" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="CorreoElectronico" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="tipoEmail" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="estatusAlmacenamientoImagen" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombreDeLaImagen" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoIdentificacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroIdentificacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="existCamp" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="escolaridad" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="deseaSerContactado" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Contacto" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ListaTelefonos" nillable="true" type="NMPConsultaC:TelefonoListType" />
            <xsd:element minOccurs="0" name="ListaDirecciones" nillable="true" type="NMPConsultaC:DireccionListType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validarClienteRequestType">
    <xsd:sequence>
      <xsd:element name="numCredencial" type="xsd:string" />
      <xsd:element name="email" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StandardResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigoPais" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigoArea" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroTelefonico" type="xsd:string" />
      <xsd:element minOccurs="0" name="extension" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoTelefono" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoListType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="Telefono" type="NMPConsultaC:TelefonoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nombreDelaCalle" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroExterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroInterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="entreCalle1" type="xsd:string" />
      <xsd:element minOccurs="0" name="entreCalle2" type="xsd:string" />
      <xsd:element minOccurs="0" name="estado" type="xsd:string" />
      <xsd:element minOccurs="0" name="idEstado" type="xsd:int" />
      <xsd:element minOccurs="0" name="delegacionMunicipio" type="xsd:string" />
      <xsd:element minOccurs="0" name="idDelegacionMunicipio" type="xsd:int" />
      <xsd:element minOccurs="0" name="colonia" type="xsd:string" />
      <xsd:element minOccurs="0" name="idColonia" type="xsd:int" />
      <xsd:element minOccurs="0" name="codigoPostal" type="xsd:string" />
      <xsd:element minOccurs="0" name="idCodigoPostal" type="xsd:int" />
      <xsd:element minOccurs="0" name="tipoDomicilio" type="xsd:string" />
      <xsd:element minOccurs="0" name="ciudadPoblacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionListType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Direccion" type="NMPConsultaC:DireccionType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>