bside.NMP.RYDEL.modelView/Web References/AdminPagos/AdminPagos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:NMPOperacionPago="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPOperacionPago" elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPOperacionPago" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="OperacionPagoType">
    <xsd:sequence>
			<xsd:element name="folio" type="xsd:long" />
			<xsd:element name="idOperacion" type="xsd:long" />
			<xsd:element minOccurs="0" name="importe" type="xsd:decimal" />
			<xsd:element minOccurs="0" name="transaccion" type="xsd:long" />
			<xsd:element minOccurs="0" name="autorizacion" type="xsd:long" />
			<xsd:element minOccurs="0" name="transaccionBancaria" type="xsd:string" />
			<xsd:element minOccurs="0" name="origen" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>