bside.NMP.RYDEL.modelView/Web References/AdminPagos/AdminPagos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:WL5G3N2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPAdminPagosSvc" xmlns:WL5G3N4="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAdminPagosSvc" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAdminPagosSvc" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPAdminPago="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPAdminPagosSvc" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAdminPagosSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/AdminPagos?SCHEMA%2FAdminPagos%2FResources%2FXSD%2FAdminPagosSvc" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPAdminPagosSvc" />
      <xsd:import schemaLocation="http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/AdminPagos?SCHEMA%2FCommon%2FXSD%2FNMPStandardHeader" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" />
      <xsd:import schemaLocation="http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/AdminPagos?SCHEMA%2FCommon%2FXSD%2FNMPStandardMessage" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="NMPHeaderRequest">
    <WL5G3N0:part name="requestHeader" element="WL5G3N1:headerMessage" />
  </WL5G3N0:message>
  <WL5G3N0:message name="setOperacionRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:setOperacionRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="setOperacionResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N2:setOperacionResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="getPartidaRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:getPartidaRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="getPartidaResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N2:getPartidaResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="rejectOperacionRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:rejectOperacionRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="rejectOperacionResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N2:rejectOperacionResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="getComprobantesRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:getComprobantesRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="getComprobantesResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N2:getComprobantesResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="adminPagosFault">
    <WL5G3N0:part name="parameters" element="WL5G3N3:messageError" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="AdminPagos_ptt">
    <WL5G3N0:operation name="setOperacion">
      <WL5G3N0:input message="WL5G3N4:setOperacionRequest" />
      <WL5G3N0:output message="WL5G3N4:setOperacionResponse" />
      <WL5G3N0:fault name="setOperacionFault" message="WL5G3N4:adminPagosFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getPartida">
      <WL5G3N0:input message="WL5G3N4:getPartidaRequest" />
      <WL5G3N0:output message="WL5G3N4:getPartidaResponse" />
      <WL5G3N0:fault name="getPartidaFault" message="WL5G3N4:adminPagosFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="rejectOperacion">
      <WL5G3N0:input message="WL5G3N4:rejectOperacionRequest" />
      <WL5G3N0:output message="WL5G3N4:rejectOperacionResponse" />
      <WL5G3N0:fault name="rejectOperacionFault" message="WL5G3N4:adminPagosFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getComprobantes">
      <WL5G3N0:input message="WL5G3N4:getComprobantesRequest" />
      <WL5G3N0:output message="WL5G3N4:getComprobantesResponse" />
      <WL5G3N0:fault name="getComprobantesFault" message="WL5G3N4:adminPagosFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="AdminPagosBinding" type="WL5G3N4:AdminPagos_ptt">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="setOperacion">
      <WL5G3N5:operation soapAction="setOperacion" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="parameters" />
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="requestHeader" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="parameters" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="setOperacionFault">
        <WL5G3N5:fault use="literal" name="setOperacionFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getPartida">
      <WL5G3N5:operation soapAction="getPartida" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="parameters" />
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="requestHeader" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="parameters" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="getPartidaFault">
        <WL5G3N5:fault use="literal" name="getPartidaFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="rejectOperacion">
      <WL5G3N5:operation soapAction="rejectOperacion" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="parameters" />
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="requestHeader" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="parameters" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="rejectOperacionFault">
        <WL5G3N5:fault use="literal" name="rejectOperacionFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getComprobantes">
      <WL5G3N5:operation soapAction="getComprobantes" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="parameters" />
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="requestHeader" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="parameters" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="getComprobantesFault">
        <WL5G3N5:fault use="literal" name="getComprobantesFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="AdminPagos">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="AdminPagosPort" binding="WL5G3N4:AdminPagosBinding">
      <WL5G3N5:address location="http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/AdminPagos" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>