bside.NMP.RYDEL.modelView/Web References/DSRFPagoLinea/DSRFPago4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:NMPOperacionPago="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPOperacionPago" elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPOperacionPago" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="OperacionPagoType">
    <xsd:sequence>
      <xsd:element name="folio" type="xsd:long" />
      <xsd:element name="idOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="importe" type="xsd:decimal" />
      <xsd:element minOccurs="1" name="transaccion" type="xsd:long" />
      <xsd:element minOccurs="0" name="autorizacion" type="xsd:long" />
      <xsd:element minOccurs="1" name="transaccionBancaria" type="xsd:string" />
      <xsd:element minOccurs="0" name="origen" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="preregistroPagosType">
    <xsd:sequence>
      <xsd:element name="transaccionPago">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="NMPOperacionPago:preregistroPagoType" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="preregistroPagoType">
    <xsd:sequence>
      <xsd:element name="banco">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transaccionBancaria" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="correoElectronico" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="partidas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="partida">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="folio" type="xsd:int" />
                  <xsd:element name="idOperacion" type="xsd:int" />
                  <xsd:element name="monto" type="xsd:decimal" />
                  <xsd:element name="numeroTransaccion" type="xsd:string" />
                  <xsd:element name="origen" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>