bside.NMP.RYDEL.modelView/Web References/DSRFPagoLinea/DSRFPago0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:NMPFile="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPFileType" elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPFileType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="FileList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="file" type="NMPFile:FileType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FileType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long" />
      <xsd:element name="archivo" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>