bside.NMP.RYDEL.modelView/Web References/DSRFPagoLinea/DSRFPago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:WL5G3N2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc" xmlns:WL5G3N4="http://servicios.montedepiedad.com.mx/NMP/Services/NMPDSRFPagoLineaSvc" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPDSRFPagoLineaSvc" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:NMPDSRFPago="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPDSRFPagoLineaSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://10.30.2.38:8011/NMP/MIDAS/DSRFPago?SCHEMA%2FOperacionPrendaria%2FPagoEnLinea%2FResources%2FSchemas%2FNMPPagoLineaXSD" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc" />
      <xsd:import schemaLocation="http://10.30.2.38:8011/NMP/MIDAS/DSRFPago?SCHEMA%2FCommon%2FXSD%2FNMPStandardHeader" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" />
      <xsd:import schemaLocation="http://10.30.2.38:8011/NMP/MIDAS/DSRFPago?SCHEMA%2FCommon%2FXSD%2FNMPStandardMessage" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="NMPHeaderRequest">
    <WL5G3N0:part name="requestHeader" element="WL5G3N1:headerMessage" />
  </WL5G3N0:message>
  <WL5G3N0:message name="getPartidaClienteRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:getPartidaClienteRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="getPartidaClienteResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N2:getPartidaClienteResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="notificarPagoRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:notificarPagoRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="notificarPagoResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N2:notificarPagoResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="preregistarPagoRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:preregistarPagoRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="preregistarPagoResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N2:preregistarPagoResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="pagoLineaFault">
    <WL5G3N0:part name="parameters" element="WL5G3N3:messageError" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="DSRFPagoLinea_ptt">
    <WL5G3N0:operation name="getPartidaCliente">
      <WL5G3N0:input message="WL5G3N4:getPartidaClienteRequest" />
      <WL5G3N0:output message="WL5G3N4:getPartidaClienteResponse" />
      <WL5G3N0:fault name="pagoLineaFault" message="WL5G3N4:pagoLineaFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="notificarPago">
      <WL5G3N0:input message="WL5G3N4:notificarPagoRequest" />
      <WL5G3N0:output message="WL5G3N4:notificarPagoResponse" />
      <WL5G3N0:fault name="pagoLineaFault" message="WL5G3N4:pagoLineaFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="preregistrarPago">
      <WL5G3N0:input message="WL5G3N4:preregistarPagoRequest" />
      <WL5G3N0:output message="WL5G3N4:preregistarPagoResponse" />
      <WL5G3N0:fault name="pagoLineaFault" message="WL5G3N4:pagoLineaFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="DSRFPagoLineaBinding" type="WL5G3N4:DSRFPagoLinea_ptt">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="getPartidaCliente">
      <WL5G3N5:operation soapAction="getPartidaCliente" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="parameters" />
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="requestHeader" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="parameters" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="pagoLineaFault">
        <WL5G3N5:fault use="literal" name="pagoLineaFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="notificarPago">
      <WL5G3N5:operation soapAction="notificarPago" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="parameters" />
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="requestHeader" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="parameters" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="pagoLineaFault">
        <WL5G3N5:fault use="literal" name="pagoLineaFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="preregistrarPago">
      <WL5G3N5:operation soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPDSRFPagoLineaSvc/preregistrarPago" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="parameters" />
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="requestHeader" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="parameters" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="pagoLineaFault">
        <WL5G3N5:fault use="literal" name="pagoLineaFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="DSRFPagoLinea">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="PagoLineaPort" binding="WL5G3N4:DSRFPagoLineaBinding">
      <WL5G3N5:address location="http://10.30.2.38:8011/NMP/MIDAS/DSRFPago" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>