bside.NMP.RYDEL.modelView/Web References/Clientes/Clientes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:NMPCampania="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Campania" xmlns:NMPConsultaC="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://10.30.3.15:8011/NMP/CRM/Clientes?SCHEMA%2FCommon%2FXSD%2FNMPCampania_TIPOS" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Campania" />
  <xsd:element name="getClientesByIDRequest" type="NMPConsultaC:getClientesByIDRequestType" />
  <xsd:element name="getClientesByIDResponse" type="NMPConsultaC:getClientesResponseType" />
  <xsd:element name="getClientesByNumCredencialRequest" type="NMPConsultaC:getClientesByNumCredencialRequestType" />
  <xsd:element name="getClientesByNumCredencialResponse" type="NMPConsultaC:getClientesResponseType" />
  <xsd:element name="getHuellaClienteRequest" type="NMPConsultaC:getHuellaClienteRequestType" />
  <xsd:element name="getHuellaClienteResponse" type="NMPConsultaC:getHuellaClienteResponseType" />
  <xsd:element name="updateClienteRequest" type="NMPConsultaC:updateClienteRequestType" />
  <xsd:element name="updateClienteResponse" type="NMPConsultaC:StandardResponseType" />
  <xsd:element name="validarClienteRequest" type="NMPConsultaC:validarClienteRequestType" />
  <xsd:element name="validarClienteResponse" type="NMPConsultaC:StandardResponseType" />
  <xsd:element name="consultarEstadoRegistroRequest" type="NMPConsultaC:ConsultaEstadoType" />
  <xsd:element name="consultarEstadoRegistroResponse" type="NMPConsultaC:DetalleRespuestaType" />
  <xsd:element name="obtenerClientePorUsuarioRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nombreUsuario" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerClientePorUsuarioResponse" type="NMPConsultaC:getClientesResponseType" />
  <xsd:complexType name="getClientesByIDRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" />
      <xsd:element minOccurs="0" name="idSucursal" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="usuario" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getClientesResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idCliente" type="xsd:long" />
            <xsd:element name="genero" type="xsd:string" />
            <xsd:element name="nombre" type="xsd:string" />
            <xsd:element name="apellidoPaterno" type="xsd:string" />
            <xsd:element name="apellidoMaterno" type="xsd:string" />
            <xsd:element name="fechaDeNacimiento" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="fechaIngreso" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="ocupacion" type="xsd:string" />
            <xsd:element name="trabaja" type="xsd:string" />
            <xsd:element minOccurs="0" name="URLVision360" type="xsd:string" />
            <xsd:element minOccurs="0" name="banderaDeBoletinacion" type="xsd:int" />
            <xsd:element name="numeroDeCredencial" type="xsd:string" />
            <xsd:element name="Cotitular">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string" />
                  <xsd:element name="apellidoPaterno" type="xsd:string" />
                  <xsd:element name="apellidoMaterno" type="xsd:string" />
                  <xsd:element minOccurs="0" name="ListaTelefonos" type="NMPConsultaC:TelefonoListType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Beneficiarios">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" maxOccurs="unbounded" name="Beneficiario">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" />
                        <xsd:element name="apellidoPaterno" type="xsd:string" />
                        <xsd:element name="apellidoMaterno" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="email" type="xsd:string" />
            <xsd:element minOccurs="0" name="CorreosElectronicos">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" maxOccurs="unbounded" name="CorreoElectronico">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="email" type="xsd:string" />
                        <xsd:element name="tipoEmail" type="xsd:string" />
                        <xsd:element minOccurs="0" name="fuenteDato" type="xsd:string" />
                        <xsd:element minOccurs="0" name="origenDato" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="porcentajeAforo" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="sobreAforo" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="calificacionAjustada" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="calificacionSIVA2" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="sobreaforoAjustado" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="sobreaforoSIVA2" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="calificacionReal" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="calificacionMidas" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="capacidadDePago" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="probabilidadIncumplimiento" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="indiceRecuperacion" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="gradoDeConfianza" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="estatusAlmacenamientoImagen" type="xsd:string" />
            <xsd:element minOccurs="0" name="nombreDeLaImagen" type="xsd:string" />
            <xsd:element minOccurs="0" name="tipoIdentificacion" type="xsd:string" />
            <xsd:element minOccurs="0" name="numeroIdentificacion" type="xsd:string" />
            <xsd:element minOccurs="0" name="existCamp" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="escolaridad" type="xsd:string" />
            <xsd:element minOccurs="0" name="deseaSerContactado" type="xsd:string" />
            <xsd:element minOccurs="0" name="alertaMIDAS" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="Contacto">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="ListaTelefonos" type="NMPConsultaC:TelefonoListType" />
                  <xsd:element minOccurs="0" name="ListaDirecciones" type="NMPConsultaC:DireccionListType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="tipoCliente" type="xsd:string" />
            <xsd:element minOccurs="0" name="listaAlertas" type="NMPConsultaC:listaAlertasType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaAlertasType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="alerta" type="NMPConsultaC:alertaType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertaType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="nombreAlerta" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="descripcion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getClientesByNumCredencialRequestType">
    <xsd:sequence>
      <xsd:element name="numCredencial" type="xsd:string" />
      <xsd:element minOccurs="0" name="idSucursal" type="xsd:int" />
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listClientesRequestType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="apellidoPaterno" type="xsd:string" />
      <xsd:element name="apellidoMaterno" type="xsd:string" />
      <xsd:element name="fechaNacimiento" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countClientesRequestType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="apellidoPaterno" type="xsd:string" />
      <xsd:element name="apellidoMaterno" type="xsd:string" />
      <xsd:element name="fechaNacimiento" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countClientesResponseType">
    <xsd:sequence>
      <xsd:element name="noRegistros" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getHuellaClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" />
      <xsd:element minOccurs="0" name="idSucursal" type="xsd:int" />
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getHuellaClienteResponseType">
    <xsd:sequence>
      <xsd:element name="huellaCliente" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateClienteRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="aplicacionMovil" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="genero" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaDeNacimiento" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="ocupacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="trabaja" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="banderaDeBoletinacion" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="numeroDeCredencial" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Cotitular" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombre" nillable="true" type="xsd:string" />
            <xsd:element name="apellidoPaterno" nillable="true" type="xsd:string" />
            <xsd:element name="apellidoMaterno" nillable="true" type="xsd:string" />
            <xsd:element name="ListaTelefonos" nillable="true" type="NMPConsultaC:TelefonoListType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Beneficiarios" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Beneficiario" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" nillable="true" type="xsd:string" />
                  <xsd:element name="apellidoPaterno" nillable="true" type="xsd:string" />
                  <xsd:element name="apellidoMaterno" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CorreosElectronicos" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CorreoElectronico" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="tipoEmail" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="estatusAlmacenamientoImagen" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombreDeLaImagen" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoIdentificacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroIdentificacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="existCamp" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="escolaridad" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="deseaSerContactado" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Contacto" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ListaTelefonos" nillable="true" type="NMPConsultaC:TelefonoListType" />
            <xsd:element minOccurs="0" name="ListaDirecciones" nillable="true" type="NMPConsultaC:DireccionListType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DatosUsuario">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="estatus" type="xsd:int" />
            <xsd:element minOccurs="0" name="tipoFlujo" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validarClienteRequestType">
    <xsd:sequence>
      <xsd:element name="numCredencial" type="xsd:string" />
      <xsd:element name="email" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StandardResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigoPais" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigoArea" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroTelefonico" type="xsd:string" />
      <xsd:element minOccurs="0" name="extension" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoTelefono" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoListType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telefono" type="NMPConsultaC:TelefonoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nombreDelaCalle" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroExterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroInterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="entreCalle1" type="xsd:string" />
      <xsd:element minOccurs="0" name="entreCalle2" type="xsd:string" />
      <xsd:element minOccurs="0" name="estado" type="xsd:string" />
      <xsd:element minOccurs="0" name="idEstado" type="xsd:int" />
      <xsd:element minOccurs="0" name="delegacionMunicipio" type="xsd:string" />
      <xsd:element minOccurs="0" name="idDelegacionMunicipio" type="xsd:int" />
      <xsd:element minOccurs="0" name="colonia" type="xsd:string" />
      <xsd:element minOccurs="0" name="idColonia" type="xsd:int" />
      <xsd:element minOccurs="0" name="codigoPostal" type="xsd:string" />
      <xsd:element minOccurs="0" name="idCodigoPostal" type="xsd:int" />
      <xsd:element minOccurs="0" name="tipoDomicilio" type="xsd:string" />
      <xsd:element minOccurs="0" name="ciudadPoblacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionListType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Direccion" type="NMPConsultaC:DireccionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getClienteCampaniasByIdRequest" type="NMPConsultaC:getClienteCampaniaRequestType" />
  <xsd:element name="getClienteCampaniasByIdResponse" type="NMPConsultaC:getClienteCampaniasResponseType" />
  <xsd:complexType name="getClienteCampaniaRequestType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="NMPConsultaC:identificadorClienteType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="idSucursal" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="usuario" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="identificadorClienteType">
    <xsd:choice minOccurs="1">
      <xsd:element minOccurs="1" name="idCliente" type="xsd:long" />
      <xsd:element minOccurs="1" name="numCredencial" type="xsd:string" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="getClienteCampaniasResponseType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="NMPConsultaC:getClientesResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="listaCampanias" type="NMPCampania:CampaniaListType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsultaEstadoType">
    <xsd:choice>
      <xsd:element ref="NMPConsultaC:idCliente" />
      <xsd:element ref="NMPConsultaC:numCredencial" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DetalleRespuestaType">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:string" />
      <xsd:element name="mensaje" type="xsd:string" />
      <xsd:element name="DetalleRespuesta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="NMPConsultaC:idCliente" />
            <xsd:element ref="NMPConsultaC:numCredencial" />
            <xsd:element name="Registros" type="NMPConsultaC:EstatusType" />
            <xsd:element name="Actualizacion" type="NMPConsultaC:EstatusType" />
            <xsd:element name="CambioContrasena" type="NMPConsultaC:EstatusType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstatusType">
    <xsd:sequence>
      <xsd:element name="idFlujo" type="xsd:int" />
      <xsd:element name="idFecha" type="xsd:int" />
      <xsd:element name="fechaRegistro" type="xsd:date" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="idCliente" type="xsd:long" />
  <xsd:element name="numCredencial" type="xsd:string" />
</xsd:schema>